.dark-theme.experience-style {
  background: rgb(0, 0, 0, 0.3);
  color: white;
}
.experience-style {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw 1vh 1vw;
  min-height: calc(350px + 15rem);
  max-height: 650px;
}
.experience-style > .experience-content {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.timeline::before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  width: 2.5px;
  background: rgb(255, 255, 255, 1);
}

.timeline-button, .timeline-button:hover {
  background: rgb(223, 113, 73);
  cursor: auto;
}
.timeline-button {
  position: absolute;
  left: calc(50% - 16.2px); 
  top: calc(50% - 16.2px); 
}

@media only screen and (max-width: 600px) {
  .timeline::before, 
  .timeline-button {
    left: 0%;
  }
}

.flip-card-style {
  background: rgb(179, 108, 82);
}
