div.dark-theme.navbar-fixed { background: rgb(0, 0, 0, 0.9); }
/* rgb(77, 56, 89); */
div.dark-theme > ul.sidenav,
div.dark-theme > nav {
  background-color: transparent;
  box-shadow: none;
}
div.dark-theme > ul.sidenav > li > a {
  color: white;
}
div.dark-theme > nav a:hover, 
div.dark-theme > ul.sidenav a:hover {
  background: rgba(0, 0, 0, 0.4);
}
ul.sidenav > li { width: 100%; }
nav > div.nav-wrapper > a.brand-logo, 
span.sidenav-trigger {
  cursor: pointer;
}
.sidenav-overlay {
  background-color: transparent;
  box-shadow: none;
  z-index: 0;
}
