.dark-theme > .swiper-layer {
  background: rgb(0, 0, 0, 0.3);
  color: white;
}

.autoscale-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Center slide items */
.swiper-layer {
  height: 100%;
  width: 100%;
  position: static;
}
