/* .nav-position {
  position: absolute;
}

.nav-style {
  background-color: transparent;
  box-shadow: none;
}

.nav-logo {
  margin-left: 1.25vw;
  color: black !important;
}

.nav-text {
  color: black !important;
} */
