html, body {
  position: relative;
  height: 100%;
  margin: 0;
}

.swiper-container {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-wrapper {
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.btn {
  float: right;
  clear: right;
  cursor: pointer;
  margin-top: 6px;
  margin-bottom: 6px;
  display: block;
  background: black;
  opacity: .35;
  border-radius: 0%;
  width: 35px;
  height: 9px;
  transition-property: width;
  transition-duration: .5s;
}

.active {
  width: 70px;
}

