.dark-theme .card, 
.dark-theme .card-content, 
.dark-theme .card-action,
.dark-theme .chip {
  background: rgb(0, 0, 0, 0.2);
  color: white;
}

.about-style {
  margin-top: 10%;
  height: 100%;
  width: 100%;
}

.about-card {
  display: none;
  line-height: -5%;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.about-chips > * {
  margin-right: 1%;
}

.about-chips > .chip {
  cursor: pointer;
}

.active-card {
  display: inline-block;
  transform: translateY(-100%);
  animation: fadeInDown 0.75s 0ms forwards;
}

@keyframes fadeInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}
