.dark-theme .card, 
.dark-theme .card-content, 
.dark-theme .card-action,
.dark-theme .chip,
.dark-theme ul.collection,
.dark-theme li.collection-item
{
  background: rgb(0, 0, 0, 0.35);
  color: white;
}

.about-style {
  margin-top: 10%;
  height: 100%;
  width: 100%;
}

.about-card {
  position: absolute;
  transform: translateY(-5vh);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
}

.about-chips > * {
  margin-right: 1%;
}

.about-chips > .chip {
  cursor: pointer;
}

.active-card {
  animation: fadeInDown 0.75s 0ms forwards;
}

@keyframes fadeInDown {
  to {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

.div-split {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
